<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Library App</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Hello All!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fugit autem accusamus corrupti, dolorem quam officia ullam ipsam. Recusandae, illum architecto aspernatur magnam iusto et, repellendus odio vero dolor repellat iste odit tempore ut minima nam reprehenderit consequuntur laborum voluptatum asperiores molestias nesciunt atque eum. Fugit recusandae eveniet pariatur vitae!</p>
    </div>      
  </div>


  <script src="js/jquery.slim.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>